:host {
    background-color: #2a3132;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: .3rem #202525 solid;
    border-radius: 1rem;
    height: 10%;
    padding: .5rem;
    margin: 1rem;
    box-shadow: 0 1px 10px black;
}

div {
    margin: .3rem;
}

p {
    color: #90AFC5;
    margin: 0;
}

.position-name {
    font-size: 1.5rem;
    font-weight: 400;
}

.position-actions {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.position-delete {
    height: 2rem;
    width: 2rem;
    color: black;
    background-color: crimson;
    border-radius: .3rem;
    display: flex;
    font-size: 1.3rem;
    color: black;
    align-items: center;
    justify-content: center;
}

.position-edit {
    height: 2rem;
    width: 2rem;
    color: black;
    background-color: cornflowerblue;
    border-radius: .3rem;
    display: flex;
    font-size: 1.3rem;
    color: black;
    align-items: center;
    justify-content: center;
}