<h1>Sobre mi</h1>

Objetivos Personales

- Aplicar técnicas y tácticas aprendidas para el desarrollo y mantenimiento de sistemas de informacion
- Dar mayor valor agregado a sistemas de informacion
- Desarrollar conocimientos en el ámbito IT.
- Adquirir experiencia en el mercado laboral.

Estudios

Soy estudiante de la carrera Ingenieria en Sistemas de Informacion en la Universidad Tecnologica Nacional - Facultad Regional Buenos Aires

Cursos Certificados

Beca NEORIS_UTN - Desarrollador .NET [Aprobado]
Tecnologias: .NET - Entity Framework - SQL Server

Argentina Programa - #SeProgramar [Aprobado]
Tecnologias: JavaScript - POO - Ruby

Argentina Programa - #YoProgramo [Cursando]
Tecnologias: HTML - CSS - JavaScript - TypeScript - Angular

Cursos No Certificados

ASP.NET Core MVC (.NET 6) - freeCodeCamp.org [Terminado]
C# - pildorasinformaticas [Terminado]
SQL - pildorasinformaticas [Terminado]
APRENDE GIT ahora - HolaMundo [Terminado]
APRENDE CSS ahora - HolaMundo [Terminado]
APRENDE Html ahora - HolaMundo [Terminado]
JavaScript - pildorasinformaticas [Terminado]
Angular - pildorasinformaticas [Cursando]

Herramientas
Angular
JavaScript
TypeScript
ASP.NET Core MVC (.NET 6)
SQL
SQL Server
Metodologias Agiles
HTML
GIT
CSS
.NET WPF
C++
Java

Idiomas
Español (Nativo)
Ingles (Avanzado):
- First Certificate in English: Nivel B2 (Noviembre 2021)
- Instituto Nuestra Señora del Huerto [2010/2021]
- Internacional Trinity: Nivel 5 (Noviembre 2018)
- Lenguas Extranjeras: Ciclo de Idiomas Extendido (Noviembre 2017)
- Lenguas Vivas (Jóvenes III) (Marzo 2017)
Portugues (Basico)