:host {
    min-height: 80vh;
    width: 75vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

h1,
h2,
h3 {
    color: #90afc5;
}

h2,
h3 {
    margin-top: 15rem;
    text-align: center;
}

.employees-container {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.floating-btn {
    position: fixed;
    top: 7rem;
    right: 4rem;
    height: 3rem;
    width: 3rem;
    background-color: #202525;
    color: #90afc5;
    border-radius: 4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 1.5rem;
    box-shadow: 0 1px 10px black;
}