<div class="employee-name">
    <p>{{employee.names}} {{employee.surnames}}</p>
</div>

<div class="employee-position">
    <p>{{positionName}}<span *ngIf="!isPositionActive" [routerLink]="['/modifyEmployee',employee.id]"
            [queryParams]="{action:'edit'}"> (Posicion Borrada)</span></p>
</div>

<div class="employee-dni">
    <p>D.N.I. {{employee.dni}}</p>
</div>

<div class="employee-actions">
    <a [routerLink]="['/modifyEmployee',employee.id]" [queryParams]="{action:'delete'}" class="employee-delete">
        <i class="bi bi-trash3"></i>
    </a>
    <a [routerLink]="['/modifyEmployee',employee.id]" [queryParams]="{action:'edit'}" class="employee-edit">
        <i class="bi bi-pencil-square"></i>
    </a>
</div>