/* You can add global styles to this file, and also import other style files */
body {
    min-height: 100vh;
    margin: 0;
    background-color: #2A3132;
    font-family: Arial, Helvetica, sans-serif;
}

router-outlet {
    display: none;
}