form {
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.name-form {
    background-color: #202525;
    box-shadow: 0 1px 10px;
    border-radius: 1rem;
    padding: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 30vw;
}

.salary-form {
    background-color: #202525;
    box-shadow: 0 1px 10px;
    border-radius: 1rem;
    padding: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 30vw;
}

.floor-form {
    background-color: #202525;
    box-shadow: 0 1px 10px;
    border-radius: 1rem;
    padding: .75rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    min-width: 30vw;
}

.inputDisabled {
    color: #fa8d8d;
}

h1 {
    color: #90afc5;
    font-weight: bold;
    margin: 0;
}

div {
    margin: 1rem;
}

label {
    margin-right: 1rem;
    color: #90afc5;
    font-size: 1.25rem;
}

input {
    background-color: #2a3132;
    border: 0;
    border-radius: 1rem;
    padding: .5rem;
    text-align: center;
    color: #90afc5;
}

button {
    width: 7.5rem;
    height: 3rem;
    background-color: #202525;
    color: #90afc5;
    border: 0;
    border-radius: 1rem;
    box-shadow: 0 1px 10px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

button:hover {
    background-color: #90afc5;
    color: #202525;
    box-shadow: 0 1px 10px white;
}

/* Hide arrows number input*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}